<div class="h-[100%] flex flex-row justify-between">
  <mat-card class="w-[25vw] h-[98%] bg-indigo-600">
    <div class="flex" *ngFor="let step of steps">
      <mat-card-title class="flex-initial text-center px-2 py-2 m-2"
        ><button
          (click)="goToStep(step.id)"
          [ngStyle]="{'background-color': step.isActive ? 'orange' : 'transparent'}"
          class="w-[40px] h-[40px] bg-none border-2 border-white rounded-full text-white text-center leading-9 hover:bg-slate-200 transition duration-300"
        >
          {{ step.id }}
        </button></mat-card-title
      >
      <div
        class="flex-initial text-center py-0 m-2 text-start leading-tight mt-2 align-center"
      >
        <p class="text-slate-300">STEP {{ step.id }}</p>
        <h3 class="text-white font-bold">{{ step.title }}</h3>
      </div>
    </div>
  </mat-card>

  <div>
    <div class="w-[70vw] h-[80%]">
      <app-info *ngIf="currentStep === 1" class="flex flex-col justify-center items-center" (step)="onNextStep($event)"></app-info>
      <app-plan *ngIf="currentStep === 2" (step)="onNextStep($event)" (step)="onPrevStep($event)" (plan)="getPlan($event)" (monthlyPrice)="getMonthlyPrice($event)" (yearlyPrice)="getYearlyPrice($event)"  (monthly)="getMonthly($event)" (yearly)="getYearly($event)"></app-plan>
      <app-addon *ngIf="currentStep === 3" (step)="onNextStep($event)" (step)="onPrevStep($event)"></app-addon>
      <app-summary *ngIf="currentStep === 4" class="flex flex-col justify-center items-center" (step)="onNextStep($event)" (step)="onPrevStep($event)" [items]="summary"></app-summary>
      <app-thanks *ngIf="currentStep === 5"></app-thanks>
    </div>

    <!-- <div class="flex justify-around">
      <button
        mat-raised-button
        (click)="onPreviousStep()"
        *ngIf="currentStep !== 1"
      >
        Go Back
      </button>
      <button mat-raised-button (click)="onNextStep()" *ngIf="currentStep !== 4">
        Next Step
      </button>

      <button mat-raised-button *ngIf="currentStep === 4">
        Confirm
      </button>
    </div> -->
  </div>
</div>
