<mat-card class="mt-[15%] h-[65vh]">
  <div class="leading-3">
    <p class="text-4xl text-indigo-800 font-bold">Select your plan</p>
    <p class="text-gray-400 text-base">
      You have the option of monthly or yearly billing.
    </p>
  </div>

  <div class="mt-10 w-[100%]">
    <div class="mt-10 w-[100%] flex flex-row justify-center items-center">
      <div class="flex flex-row justify-evenly items-center">
        <mat-button-toggle-group>
          <mat-button-toggle (click)="setMonthly()" [ngStyle]="{
            'background-color': this.isMonthly ? '#DFDFFF' : 'transparent'
          }" class="text-indigo-800 font-bold">Monthly</mat-button-toggle>
          <mat-button-toggle (click)="setYearly()" [ngStyle]="{
            'background-color': this.isYearly ? '#DFDFFF' : 'transparent'
          }" class="text-indigo-800 font-bold">Yearly</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>

  <div class="w-[100%] h-[52%] flex flex-row justify-evenly mt-10">
    <mat-card
      class="w-[30%] cursor-pointer"
      [ngStyle]="{
        'background-color': plan.isActive ? '#DFDFFF' : 'transparent'
      }"
      *ngFor="let plan of plans"
    >
      <button (click)="goToPlan(plan.id); emitData(plan.name, plan.monthlyPrice, plan.yearlyPrice, plan.monthlyPlan, plan.yearlyPlan)" class="w-[100%]" [disabled]="isMonthly === false && isYearly === false">
        <img
          class="h-[50px] w-[50px]"
          src="{{ plan.iconUrl }}"
          alt="arcade-icon"
        />
        <div class="mt-[75px] text-left">
          <p class="text-2xl text-indigo-800 font-bold">{{ plan.name }}</p>
          <p class="text-gray-400 text-base leading-3">
            ${{ this.isMonthly ? plan.monthlyPrice : plan.yearlyPrice }}
          </p>
          <p>{{ this.isMonthly ? '' : '2 months free' }}</p>
        </div>
      </button>
    </mat-card>
  </div>

  
</mat-card>

<div class="w-[100%] flex flex-row justify-evenly">
  <div class="mt-[25px]">
    <button mat-raised-button (click)="onPrevStep(1)">Go Back</button>
  </div>

  <div class="mt-[25px]">
    <button
      mat-raised-button
      (click)="onNextStep(3); completeStep()"
      [disabled]="this.isMonthly === false && this.isYearly === false || this.setActive === false"
    >
      Next Step
    </button>
  </div>
</div>
